<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
">



	<bean id="message" class="java.lang.String">
		<constructor-arg>
			<value>Hello Spring World !</value>
		</constructor-arg>
	</bean>

	<bean id="clientSpring" class="fr.eni.formation.banque.Client">
		<property name="nom" ref="message" />
		<property name="prenom" value="John" />
	</bean>

	<bean id="clientSpring2" class="fr.eni.formation.banque.Client">
		<constructor-arg index="0" value="Denis" />
		<constructor-arg index="1" value="Denis" />
	</bean>






<!--
	<bean id="monClientDAO" class="fr.eni.formation.banque.dao.mem.ClientDAO" >
	</bean>
 	<bean id="monClientDAO" class="fr.eni.formation.banque.dao.hibernate.ClientDAO" >
	</bean>
	<bean id="unAutreClient" class="fr.eni.formation.banque.Client" >
		<property name="nom" value="Martin" />
		<property name="prenom" value="Juste" />
	</bean>
	
 -->	
	

</beans>





