<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
">

<!--
	<bean id="monClientDAO" class="fr.eni.formation.banque.dao.mem.ClientDAO" >
	</bean>
 -->	
 	<bean id="monClientDAO" class="fr.eni.formation.banque.dao.hibernate.ClientDAO" >
	</bean>
	<bean id="unAutreClient" class="fr.eni.formation.banque.Client" >
		<property name="nom" value="Martin" />
		<property name="prenom" value="Juste" />
	</bean>
	
	

</beans>





